<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <!--
                PerformantSitecore.SqlDataProvider settings

                The caching data provider intercepts GetChildIdsByName calls
                and caches the results per parent item per database. This
                eliminates hundreds of redundant SQL round-trips per request.
            -->
            <setting name="PerformantSitecore.SqlDataProvider.CacheEnabled" value="true" />
            <setting name="PerformantSitecore.SqlDataProvider.CacheMaxSize" value="10MB" />
            <setting name="PerformantSitecore.SqlDataProvider.CacheName" value="PerformantSitecore.ChildParentRelation" />

            <!-- Per-database cache enable/disable toggles -->
            <setting name="PerformantSitecore.SqlDataProvider.master.CacheEnabled" value="true" />
            <setting name="PerformantSitecore.SqlDataProvider.core.CacheEnabled" value="true" />
            <setting name="PerformantSitecore.SqlDataProvider.web.CacheEnabled" value="true" />
        </settings>

        <!-- Replace the default SQL Server data provider with the caching version -->
        <dataProviders>
            <main type="Sitecore.Data.$(database).$(database)DataProvider, Sitecore.Kernel">
                <patch:attribute name="type" value="PerformantSitecore.Foundation.SqlDataProvider.Providers.CachingSqlDataProvider, PerformantSitecore.Foundation.SqlDataProvider"/>
            </main>
        </dataProviders>

        <events>
            <!-- Clear the child-name cache when items change -->
            <event name="item:saved">
                <handler patch:before="*"
                         type="PerformantSitecore.Foundation.SqlDataProvider.EventHandlers.SqlDataProviderCacheClearer, PerformantSitecore.Foundation.SqlDataProvider"
                         method="OnItemSaved" />
            </event>
            <event name="item:saved:remote">
                <handler patch:before="*"
                         type="PerformantSitecore.Foundation.SqlDataProvider.EventHandlers.SqlDataProviderCacheClearer, PerformantSitecore.Foundation.SqlDataProvider"
                         method="OnItemSavedRemote" />
            </event>
            <event name="item:deleted">
                <handler patch:before="*"
                         type="PerformantSitecore.Foundation.SqlDataProvider.EventHandlers.SqlDataProviderCacheClearer, PerformantSitecore.Foundation.SqlDataProvider"
                         method="OnItemDeleted" />
            </event>
            <event name="item:deleted:remote">
                <handler patch:before="*"
                         type="PerformantSitecore.Foundation.SqlDataProvider.EventHandlers.SqlDataProviderCacheClearer, PerformantSitecore.Foundation.SqlDataProvider"
                         method="OnItemDeletedRemote" />
            </event>
            <event name="item:copied">
                <handler patch:before="*"
                         type="PerformantSitecore.Foundation.SqlDataProvider.EventHandlers.SqlDataProviderCacheClearer, PerformantSitecore.Foundation.SqlDataProvider"
                         method="OnItemCopied" />
            </event>
            <event name="item:copied:remote">
                <handler patch:before="*"
                         type="PerformantSitecore.Foundation.SqlDataProvider.EventHandlers.SqlDataProviderCacheClearer, PerformantSitecore.Foundation.SqlDataProvider"
                         method="OnItemCopiedRemote" />
            </event>
        </events>
    </sitecore>
</configuration>
