<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.14" targetFramework="net48" />
  <package id="Microsoft.PowerShell.5.1.ReferenceAssemblies" version="1.0.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Sitecore.Kernel" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.Services.Infrastructure" version="10.2.0" targetFramework="net48" />
  <package id="Sitecore.XA.Foundation.Caching" version="10.2.0" targetFramework="net48" />
</packages>
