<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:set="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore>
        <settings>
            <!--
                When true, the initial site list load happens asynchronously in a background job.
                This can speed up Sitecore startup time, but may result in sites not being
                available for the first few seconds after startup.
                Default: false
            -->
            <setting name="PerformantSitecore.SxaSiteProvider.InitialLoadAsync" value="false" />
        </settings>

        <services>
            <configurator type="PerformantSitecore.Foundation.SxaSiteProvider.Configuration.ServicesConfiguration, PerformantSitecore.Foundation.SxaSiteProvider" />
        </services>

        <pipelines>
            <!--
                The siteProviderInitialized pipeline runs after sites have been reloaded.
                Each processor handles a different aspect of cache invalidation and route refresh.
                The pipeline runs inside the background job context, so UI is never blocked.
            -->
            <siteProviderInitialized>
                <processor type="PerformantSitecore.Foundation.SxaSiteProvider.Pipeline.SiteProviderInitialized.SiteContextFactoryReset, PerformantSitecore.Foundation.SxaSiteProvider" resolve="true" />
                <processor type="PerformantSitecore.Foundation.SxaSiteProvider.Pipeline.SiteProviderInitialized.SiteInfoResolverReset, PerformantSitecore.Foundation.SxaSiteProvider" resolve="true" />
                <processor type="PerformantSitecore.Foundation.SxaSiteProvider.Pipeline.SiteProviderInitialized.HttpRoutesRefresher, PerformantSitecore.Foundation.SxaSiteProvider" resolve="true" />
                <processor type="PerformantSitecore.Foundation.SxaSiteProvider.Pipeline.SiteProviderInitialized.AllSxaSiteCacheClearer, PerformantSitecore.Foundation.SxaSiteProvider" resolve="true" />
                <processor type="PerformantSitecore.Foundation.SxaSiteProvider.Pipeline.SiteProviderInitialized.MultisiteContextCacheClearer, PerformantSitecore.Foundation.SxaSiteProvider" resolve="true" />
                <processor type="PerformantSitecore.Foundation.SxaSiteProvider.Pipeline.SiteProviderInitialized.SiteInfoResolverCacheClearer, PerformantSitecore.Foundation.SxaSiteProvider" resolve="true" />
            </siteProviderInitialized>
        </pipelines>

        <!--
            Replace the default SXA site provider with the async version.
            The provider reads site definitions from Sitecore items (same as the default),
            but reloads them in a background job when changes are detected.
            On CM, reads from "master". Override the database attribute to "web" for CD.
        -->
        <siteManager defaultProvider="sitecore">
            <providers>
                <clear />
                <add name="sitecore" type="Sitecore.Sites.SitecoreSiteProvider, Sitecore.Kernel" checkSecurity="false">
                    <providers hint="raw:AddProviderReference">
                        <reference patch:instead="*[@name='sxa']" name="async-sxa" />
                    </providers>
                </add>
                <add patch:instead="*[@name='sxa']"
                     name="async-sxa"
                     type="PerformantSitecore.Foundation.SxaSiteProvider.Providers.AsyncSxaSiteProvider, PerformantSitecore.Foundation.SxaSiteProvider"
                     database="master"
                     checkSecurity="false"
                     resolve="true" />
            </providers>
        </siteManager>

        <!--
            Remove the default SXA HttpRoutesRefresher event handler since we handle
            route refreshing inside the siteProviderInitialized pipeline instead.
        -->
        <events>
            <event name="item:saved">
                <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.HttpRoutesRefresher, Sitecore.XA.Foundation.Multisite" method="OnItemSaved">
                    <patch:delete />
                </handler>
            </event>
            <event name="item:saved:remote">
                <handler type="Sitecore.XA.Foundation.Multisite.EventHandlers.HttpRoutesRefresher, Sitecore.XA.Foundation.Multisite" method="OnItemSavedRemote">
                    <patch:delete />
                </handler>
            </event>
        </events>
    </sitecore>
</configuration>
