<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
    <sitecore>
        <pipelines>
            <httpRequestBegin>
                <processor 
                    patch:before="processor[@type='Sitecore.Pipelines.PreprocessRequest.CheckIgnoreFlag, Sitecore.Kernel']"
                    type="PerformantSitecore.Feature.DotTrace.Pipeline.HttpRequestBegin.StartProfiling, PerformantSitecore.Feature.DotTrace" />
            </httpRequestBegin>
            <httpRequestEnd>
                <processor type="PerformantSitecore.Feature.DotTrace.Pipeline.HttpRequestEnd.StopProfiling, PerformantSitecore.Feature.DotTrace" />
            </httpRequestEnd>
        </pipelines>
    </sitecore>
</configuration>