<?xml version="1.0"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:set="http://www.sitecore.net/xmlconfig/set/">
    <sitecore>
        <settings>
            <!--
                PerformantSitecore.ManagedCache settings

                A generic caching layer that wraps Sitecore XA's
                DictionaryCache with template-aware automatic flushing,
                custom flushing delegates, and cross-instance event
                propagation via the Sitecore event queue.
            -->
            <setting name="PerformantSitecore.ManagedCache.Enabled" value="true" />
            <setting name="PerformantSitecore.ManagedCache.RaiseClearEventsGlobally" value="true" />
            <setting name="PerformantSitecore.ManagedCache.RaiseClearEventsLocally" value="true" />

            <!--
                Cache Insights API settings

                The API is available at /api/v1/managedcache/{method} and provides
                statistics, inspection, listing, and flushing of managed caches.
                Pass includeUnmanaged=true to also see plain Sitecore caches.
                Each endpoint requires an API key. Set the key values below
                (multiple pipe-separated keys are supported).
            -->
            <setting name="PerformantSitecore.CacheInsights.MaxInspectedKeys" value="10" />
            <setting name="CacheInsights.Flush.KeyValues" value="change_me" />
            <setting name="CacheInsights.Inspect.KeyValues" value="change_me" />
            <setting name="CacheInsights.GetStatistics.KeyValues" value="change_me" />
            <setting name="CacheInsights.List.KeyValues" value="change_me" />
        </settings>

        <services>
            <configurator type="PerformantSitecore.Foundation.ManagedCache.Configuration.ServicesConfiguration, PerformantSitecore.Foundation.ManagedCache" />
        </services>

        <pipelines>
            <!--
                Bridges ManagedCacheInvalidationEvent instances arriving via the
                event queue on remote instances back into the Sitecore event
                pipeline, so the <events> handlers below actually fire on CD.
            -->
            <initialize>
                <processor type="PerformantSitecore.Foundation.ManagedCache.Pipeline.Initialize.ManagedCacheRemoteEventSubscriber, PerformantSitecore.Foundation.ManagedCache" method='Initialize' />
            </initialize>
        </pipelines>

        <events>
            <event name="item:saved">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemSaved"
                         resolve="true" />
            </event>
            <event name="item:saved:remote">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemSavedRemote"
                         resolve="true" />
            </event>
            <event name="item:created">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemCreated"
                         resolve="true" />
            </event>
            <event name="item:renamed">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemRenamed"
                         resolve="true" />
            </event>
            <event name="item:renamed:remote">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemRenamedRemote"
                         resolve="true" />
            </event>
            <event name="item:moved">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemMoved"
                         resolve="true" />
            </event>
            <event name="item:moved:remote">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemMovedRemote"
                         resolve="true" />
            </event>
            <event name="item:deleted">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemSaved"
                         resolve="true" />
            </event>
            <event name="item:deleted:remote">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnItemSavedRemote"
                         resolve="true" />
            </event>
            <event name="performantsitecore:managedcache:invalidation" role:require="Standalone or ContentManagement">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnCacheCleared"
                         resolve="true" />
            </event>
            <event name="performantsitecore:managedcache:invalidation:remote" role:require="ContentDelivery">
                <handler type="PerformantSitecore.Foundation.ManagedCache.EventHandlers.ManagedCacheInvalidationHandler, PerformantSitecore.Foundation.ManagedCache"
                         method="OnCacheClearedRemote"
                         resolve="true" />
            </event>
        </events>
    </sitecore>
</configuration>
